<?xml version="1.0"?>
<!--
/**
 * EcomCore Freight Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   EcomCore
 * @package    EcomCore_Freight
 * @author     Chris Norton
 * @copyright  Copyright (c) 2014 EcomCore Pty. Ltd. (http://www.ecomcore.com.au)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <EcomCore_Freight>
            <version>3.1.5</version>
        </EcomCore_Freight>
    </modules>
    <global>
        <models>
            <eccfreight>
                <class>EcomCore_Freight_Model</class>
                <resourceModel>eccfreight_mysql4</resourceModel>
            </eccfreight>
            <eccfreight_mysql4>
                <class>EcomCore_Freight_Model_Mysql4</class>
                <entities>
                    <eparcel>
                        <table>eccfreight_rates</table>
                    </eparcel>
                </entities>
            </eccfreight_mysql4>
        </models>
        <helpers>
            <eccfreight>
                <class>EcomCore_Freight_Helper</class>
            </eccfreight>
        </helpers>
        <blocks>
            <eccfreight>
                <class>EcomCore_Freight_Block</class>
            </eccfreight>
        </blocks>
        <resources>
            <eccfreight_setup>
                <setup>
                    <module>EcomCore_Freight</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </eccfreight_setup>
            <eccfreight_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </eccfreight_write>
            <eccfreight_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </eccfreight_read>
        </resources>
        <sales>
            <shipping>
                <carriers>
                    <eccfreightpost>
                        <class>EcomCore_Freight_Model_Shipping_Carrier_Rate</class>
                    </eccfreightpost>
                </carriers>
            </shipping>
        </sales>
    </global>
    <frontend>
        <routers>
            <eccfreight>
                <use>standard</use>
                <args>
                    <module>EcomCore_Freight</module>
                    <frontName>eccfreight</frontName>
                </args>
            </eccfreight>
        </routers>
        <layout>
            <updates>
                <eccfreight module="EcomCore_Freight">
                    <file>ecomcore/freight.xml</file>
                </eccfreight>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ecomcore_freight before="Mage_Adminhtml">EcomCore_Freight_Adminhtml</ecomcore_freight>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <carriers>
            <eccfreight>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <condition_name>package_weight</condition_name>
                <model>eccfreight/shipping_carrier_rate</model>
                <name>eParcel</name>
                <title>Australia Post eParcel</title>
                <sallowspecific>1</sallowspecific>
                <specificcountry>AU</specificcountry>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
                <merchant_location_id>AWV</merchant_location_id>
                <post_charge_account>1234567</post_charge_account>
                <signature_required>0</signature_required>
                <signature_cost>6.44</signature_cost>
                <insurance_step>100.0</insurance_step>
                <insurance_cost_per_step>1.05</insurance_cost_per_step>
            </eccfreight>
        </carriers>
        <ecomcore_freight>
            <postcode_autocomplete>
                <max_results>20</max_results>
            </postcode_autocomplete>
        </ecomcore_freight>
    </default>
</config>
