<?xml version="1.0"?>
<!--
/**
 * EcomCore Freight Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   EcomCore
 * @package    EcomCore_Freight
 * @author     Chris Norton
 * @copyright  Copyright (c) 2014 EcomCore Pty. Ltd. (http://www.ecomcore.com.au)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <EcomCore_Freight>
            <version>3.1.5</version>
        </EcomCore_Freight>
    </modules>
    <global>
        <models>
            <eccfreight>
                <class>EcomCore_Freight_Model</class>
                <resourceModel>eccfreight_mysql4</resourceModel>
            </eccfreight>
            <eccfreight_mysql4>
                <class>EcomCore_Freight_Model_Mysql4</class>
                <entities>
                    <eparcel>
                        <table>eccfreight_eparcel</table>
                    </eparcel>
                </entities>
            </eccfreight_mysql4>
        </models>
        <helpers>
            <eccfreight>
                <class>EcomCore_Freight_Helper</class>
            </eccfreight>
        </helpers>
        <blocks>
            <eccfreight>
                <class>EcomCore_Freight_Block</class>
            </eccfreight>
        </blocks>
        <resources>
            <eccfreight_setup>
                <setup>
                    <module>EcomCore_Freight</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </eccfreight_setup>
            <eccfreight_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </eccfreight_write>
            <eccfreight_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </eccfreight_read>
        </resources>
        <sales>
            <shipping>
                <carriers>
                    <eccfreightpost>
                        <class>EcomCore_Freight_Model_Shipping_Carrier_Australiapost</class>
                    </eccfreightpost>
                </carriers>
            </shipping>
            <tax>
                <methods>
                    <gst>
                        <class>EcomCore_Freight_Model_Tax_Gst</class>
                    </gst>
                </methods>
            </tax>
            <order>
                <statuses>
                    <pending_bpay translate="label">
                        <label>Pending BPAY</label>
                    </pending_bpay>
                    <pending_deposit translate="label">
                        <label>Pending Direct Deposit</label>
                    </pending_deposit>
                </statuses>
                <states>
                    <new>
                        <statuses>
                            <pending_bpay/>
                            <pending_deposit/>
                        </statuses>
                    </new>
                </states>
            </order>
        </sales>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <ecomcore_freight_payment_place>
                        <class>eccfreight/observer</class>
                        <method>addHistory</method>
                    </ecomcore_freight_payment_place>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
    </global>
    <frontend>
        <secure_url>
            <eccfreight_address>/eccfreight/address</eccfreight_address>
        </secure_url>
        <routers>
            <eccfreight>
                <use>standard</use>
                <args>
                    <module>EcomCore_Freight</module>
                    <frontName>eccfreight</frontName>
                </args>
            </eccfreight>
        </routers>
        <events>
            <controller_action_layout_render_before_checkout_onepage_index>
                <observers>
                    <ecomcore_freight_load_magento_css>
                        <type>singleton</type>
                        <class>EcomCore_Freight_Model_Observer</class>
                        <method>addMagentoCss</method>
                    </ecomcore_freight_load_magento_css>
                </observers>
            </controller_action_layout_render_before_checkout_onepage_index>
        </events>
        <layout>
            <updates>
                <eccfreight module="EcomCore_Freight">
                    <file>ecomcore/freight.xml</file>
                </eccfreight>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ecomcore_freight before="Mage_Adminhtml">EcomCore_Freight_Adminhtml</ecomcore_freight>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <ecomcore_freight_shipment_clickandsend_export_bulkaction>
                        <type>singleton</type>
                        <class>eccfreight/shipping_carrier_clickandsend</class>
                        <method>addExportToBulkAction</method>
                    </ecomcore_freight_shipment_clickandsend_export_bulkaction>
                    <ecomcore_freight_shipment_eparcel_export_bulkaction>
                        <type>singleton</type>
                        <class>eccfreight/shipping_carrier_eparcel</class>
                        <method>addExportToBulkAction</method>
                    </ecomcore_freight_shipment_eparcel_export_bulkaction>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <default>
        <carriers>
            <eccfreightpost>
                <active>0</active>
                <model>eccfreight/shipping_carrier_eccfreightpost</model>
                <title>Australia Post</title>
                <default_length>20</default_length>
                <default_width>20</default_width>
                <default_height>20</default_height>
                <default_weight>20</default_weight>
            </eccfreightpost>
            <eparcel>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <condition_name>package_weight</condition_name>
                <model>eccfreight/shipping_carrier_eparcel</model>
                <name>eParcel</name>
                <title>Australia Post eParcel</title>
                <sallowspecific>1</sallowspecific>
                <specificcountry>AU</specificcountry>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
                <merchant_location_id>AWV</merchant_location_id>
                <post_charge_account>1234567</post_charge_account>
                <signature_required>0</signature_required>
                <signature_cost>6.44</signature_cost>
                <insurance_step>100.0</insurance_step>
                <insurance_cost_per_step>1.05</insurance_cost_per_step>
            </eparcel>
        </carriers>
        <payment>
            <bpay>
                <active>0</active>
                <model>eccfreight/payment_bpay</model>
                <order_status>pending_bpay</order_status>
                <customer_group_access>0</customer_group_access>
                <customer_group>0</customer_group>
                <title>BPAY</title>
                <allowspecific>0</allowspecific>
                <calculate_using_customerid>0</calculate_using_customerid>
                <accept_credit_cards>1</accept_credit_cards>
                <use_mod_10_v_5>0</use_mod_10_v_5>
                <message>Payment details will be displayed on order confirmation screen.</message>
            </bpay>
            <directdeposit_au>
                <active>0</active>
                <model>eccfreight/payment_directdeposit</model>
                <order_status>pending_deposit</order_status>
                <customer_group_access>0</customer_group_access>
                <customer_group>0</customer_group>
                <title>Direct Deposit</title>
                <account_name></account_name>
                <account_bsb>000000</account_bsb>
                <account_number>00000000</account_number>
                <allowspecific>0</allowspecific>
                <message>Please quote order number (displayed after checkout confirmation) when making your deposit. Order will be processed once payment has been received.</message>
            </directdeposit_au>
        </payment>
        <ecomcore_freight>
            <postcode_autocomplete>
                <max_results>20</max_results>
            </postcode_autocomplete>
            <clickandsend>
                <active>0</active>
                <nondelivery_instructions>5</nondelivery_instructions>
                <from_country>AU</from_country>
            </clickandsend>
            <address_validation>
                <delivery_choices_account_password backend_model="adminhtml/system_config_backend_encrypted" />
            </address_validation>
        </ecomcore_freight>
    </default>
</config>
